{% extends 'base.html' %}
{% block title %} Password Reset Done {% endblock title %}

{% block content %}
<section class="mt-100">
    <div class=" pxp-column pxp-is-light">
    <div class="pxp-container">
        <h2 class="pxp-section-h2">Password reset complete</h2>
        <p class="pxp-text-light">
           Your password has been reset, please return home and log in again
        </p>
        <a href='{% url 'login' %}'><button name="return-home" id="return-home" class="btn rounded-pill pxp-sign-hero-form-cta">Login</button></a>
    </div>
</div>
</section>

{% endblock %}