{% extends "base.html" %}
{% block title %} Password Reset Confirm{% endblock title%}
{% block content %}
<section class="mt-100">
    <div class=" pxp-column pxp-is-light">
        <div class="pxp-sign-hero-form pb-100 pt-100">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-xl-7 col-xxl-5">
                    <div class="pxp-sign-hero-form-content">
                        {% if validlink %} 
                        <h5 class="text-center">Reset Password</h5>
                        {% if form.errors %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    <div id="form_errors">
                                        {% for key, value in form.errors.items %}
                                            <strong>{{ value }}</strong>
                                        {% endfor %}
                                    </div>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endif %}

                        <form class="mt-4" method = "POST">
                            {% csrf_token %}
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" name="new_password1" placeholder="Enter password">
                                <label for="pxp-signin-page-password">New Password</label>
                                
                                <span class="fa fa-lock"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" name="new_password2" placeholder="Confirm password">
                                <label for="pxp-signin-page-password">Confirm Password</label>
                                
                                <span class="fa fa-lock"></span>
                            </div>

                            <button name="reset_password" id="reset_password" class="btn rounded-pill pxp-sign-hero-form-cta">Reset</button>

                        </form>
                        {% else %}
                    <div class="alert alert-warning">
                        The password reset link was invalid, possibly because it has already been used.
                        Please request a new password reset.
                    </div>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}