{% extends "base.html" %}
{% block title %} Register Page {% endblock title%}
{% block content %}
<section class="pxp-hero vh-100" style="background-color: var(--pxpMainColorLight);">
    <div class="row align-items-center pxp-sign-hero-container">
        <div class="col-xl-6 pxp-column">
            <div class="pxp-sign-hero-fig text-center pb-100 pt-100">
                <img src="/static/images/signup-big-fig.png" alt="Sign up">
                <h1 class="mt-4 mt-lg-5">Create an account</h1>
            </div>
        </div>
        <div class="col-xl-6 pxp-column pxp-is-light">
            <div class="pxp-sign-hero-form pb-100 pt-100">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-xl-7 col-xxl-5">
                        <div class="pxp-sign-hero-form-content">
                            <h5 class="text-center">Sign Up</h5>
                            <form class="mt-4" method="POST">
                                {% csrf_token %}
                               
                                 <div class="form-floating mb-3">
                                    {% for choice in form.user_type %}
                                      <div class="form-check form-check-inline">
                                        {{choice}}
                                        <label class="form-check-label" for="{{ choice.auto_id }}"></label>
                                      </div>
                                    {% endfor %}
                                      
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="pxp-signup-page-email" name = "first_name" placeholder="First name">
                                    <label for="pxp-signup-page-email">First Name</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="pxp-signup-page-email" name = "last_name" placeholder="Last name">
                                    <label for="pxp-signup-page-email">Last Name</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="pxp-signup-page-email" name = "username" placeholder="Username" hx-get="{% url 'check-username' %}" hx-target="#username-check" hx-trigger="keyup">
                                    <label for="pxp-signup-page-email">Username</label>
                                    <div id="username-check">
                        
                                    </div>
                                </div>
                                
                            
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" id="pxp-signup-page-email" name ="email" placeholder="Email address"hx-get="{% url 'check-email' %}" hx-target="#email-check" hx-trigger="keyup">
                                    <label for="pxp-signup-page-email">Email address</label>
                                    
                                    <div id="email-check">
                        
                                    </div>
                                </div>
                                
                                <div class="form-floating mb-3">
                                    <input type="password" class="form-control" id="pxp-signup-page-password" name="password1" placeholder="Create password">
                                    <label for="pxp-signup-page-password">Create password</label>
                                    
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="password" class="form-control" id="pxp-signup-page-password" name="password2" placeholder="Confirm password">
                                    <label for="pxp-signup-page-password">Confirm password</label>
                                    
                                </div>
                                <button type="submit" class="btn rounded-pill pxp-sign-hero-form-cta">Continue</button>
                                <div class="mt-4 text-center pxp-sign-hero-form-small">
                                    Already have an account? <a href="{% url 'login' %}">Sign in</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}