{% extends 'dashboard/indv-dashboard_base.html' %}
{% block title %}Inbox{% endblock %}
{% block content %}
<div class="pxp-dashboard-content-details">
    <h1>Inbox</h1>
    <p class="pxp-text-light">See Who Wants to Get in Touch with You</p>

    <div class="row mt-4 mt-lg-5">
        {% comment %} <div class="col-xxl-4">
             <div class="pxp-dashboard-inbox-search-form">
                <div class="input-group">
                    <span class="input-group-text"><span class="fa fa-search"></span></span>
                    <input type="text" class="form-control" placeholder="Search messages...">
                </div>
            </div>  {% endcomment %}

            <div class="mt-3 mt-lg-4 pxp-dashboard-inbox-list">
                <ul class="list-unstyled">
                    
                    {% for message in messages %}
                    <li class="pxp-active">
                        <div class="card">
  <div class="card-header">
    <div class="pxp-dashboard-inbox-list-item-top">
        <a href="{% url 'profile-view' username=message.sender.username %}"> @{{message.sender.username}}</a>

    <div class="pxp-dashboard-inbox-list-item-right">
        <div class="pxp-dashboard-inbox-list-item-time">{{message.send_date|timesince}} ago</div>
    </div>
    </div>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
     <div class="mt-2 d-flex justify-content-between">
                                <div class="pxp-dashboard-inbox-list-item-text">
                                    <strong> Email: {{message.email}} </strong>
                                    <br><br>
                                    {{message.message}}
                                </div>

                            </div>
    </blockquote>
  </div>

</div>
 <br/> <br/>
                       
                    </li>
                
                    {% endfor %}
                </ul>
            </div>
        </div>
        
        
    </div>
</div>

{% endblock %}     