{% extends 'dashboard/indv-dashboard_base.html' %}
{% block title %}Applied Looks {% endblock %}
{% block content %}
<div class="pxp-dashboard-content-details">
    <h1>Applied Looks </h1>
    <p class="pxp-text-light">Here, you can see all the opportunities you applied to and your status for them. <br> <sub>*If you don't see your application here, chances are that the opportunity you applied for has been deleted.<small/></p>
    
  <div class="mt-4 mt-lg-5">
    <div class="row justify-content-between align-content-center">
        <div class="col-auto order-2 order-sm-1">
            <div class="pxp-company-dashboard-jobs-bulk-actions mb-3">
                <button class="btn">Delete</button>
            </div>
        </div>
        <div class="col-auto order-1 order-sm-2">
            <div class="pxp-company-dashboard-jobs-search mb-3">
                <div class="pxp-company-dashboard-jobs-search-results me-3">{{ count }} looks</div>
                <div class="pxp-company-dashboard-jobs-search-search-form">
                    <div class="input-group">
                        <span class="input-group-text"><span class="fa fa-search"></span></span>
                        <input type="text" class="form-control" placeholder="Search jobs...">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover align-middle">
            <thead>
                <tr>
                    <th class="pxp-is-checkbox" style="width: 1%;"><input type="checkbox" class="form-check-input"></th>
                    <th style="width: 25%;">Look</th>
                    <th style="width: 18%;">Status</th>
                    <th style="width: 16%;">Date</th>
                </tr>
            </thead>
            <tbody>
                {% for item in opportunities_with_applications %}
                <tr>
                    <td class="pxp-is-checkbox"><input type="checkbox" class="form-check-input"></td>
                    <td>
                        <a href="{% url 'post-detail' pk=item.opportunity.pk %}">
                            <div class="pxp-company-dashboard-job-title">{{ item.opportunity.title }}</div>
                            <div class="pxp-company-dashboard-job-location"><span class="fa fa-globe me-1"></span>{{ item.opportunity.location }}</div>
                        </a>
                    </td>
                    <td>
                        <div class="pxp-company-dashboard-job-status">
                            {% if item.application.get_status_display == "Pending" %}
                                <span class="badge rounded-pill bg-secondary">{{ item.application.get_status_display }}</span>
                            {% elif item.application.get_status_display == "Accepted" %}
                                <span class="badge rounded-pill bg-success">{{ item.application.get_status_display }}</span>
                            {% elif item.application.get_status_display == "Rejected" %}
                                <span class="badge rounded-pill bg-danger">{{ item.application.get_status_display }}</span>
                            {% endif %}
                        </div>
                    </td>
                    <td>
                        <div class="pxp-company-dashboard-job-date">{{ item.application.send_date }}</div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

            <div class="row mt-4 mt-lg-5 justify-content-between align-items-center">
                <div class="col-auto">
                    <nav class="mt-3 mt-sm-0" aria-label="Jobs list pagination">
                        <ul class="pagination pxp-pagination">
                            {% if page_number.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_number.previous_page_number }}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    {% endif %}
                                    <li class="page-item active"><a class="page-link" >{{ page_number.number }}</a></li>
                                    {% if page_number.has_next %}
                                    <li class="page-item">
                                    <a class="page-link" href="?page={{ posts.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                    </li>
                                    {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}
            