{% extends 'dashboard/indv-dashboard_base.html' %}
{% block title %} Create Look {% endblock title %}
{% block content %}


<div class="pxp-dashboard-content-details">


    <br/>
    <h1>Manage Experiences</h1>
    <br/>

<div class="table-responsive">
            <table class="table table-hover align-middle">
                <thead>
                    <tr>
                        <th class="pxp-is-checkbox" style="width: 1%;"><input type="checkbox" class="form-check-input"></th>
                        <th style="width: 16%;">Look</th>
                        <th style="width: 16%;">Location</th>
                        <th style="width: 45%;">Description</th>
                        <th style="width: 16%;">Length</th>
                        <th style="width: 7%">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>


    {% for exp in page_number %}
    {% if exp.user == request.user %}
        <tr>
            <td><input type="checkbox" class="form-check-input"></td>
            <td>
                <a href="#">
                    <div class="pxp-company-dashboard-jon-title">{{ exp.title }}</div>
                    
                </a>
            </td>
            <td><div class="pxp-company-dashboard-job-category">{{ exp.location }}</div></td>
            <td><div class="pxp-company-dashboard-job-category">{{ exp.description }}</div></td>
            <td><div class="pxp-company-dashboard-job-type">{{ exp.length }}</div></td>
            <td>
                <div class="pxp-dashboard-table-options">
                    <ul class="list-unstyled">
                        <form method='POST' action="{% url 'delete-exp' pk=exp.pk %}">
            {% csrf_token %}
            <li><button onclick="return confirm('Are you sure?')" title="Delete"><span class="fa fa-trash-o"></span></button></li>
        </form>
                    </ul>
                    </ul>
                </div>
            </td>
        </tr>
    {% endif %}
{% endfor %}
</tbody>
            </table>


        </div>
<br/> <br/>
<h4><strong>Add an Experience<strong/></h4>
    <hr class="default">

    <form method="POST" action="{% url 'create-exp'%}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row mt-4 mt-lg-5">
            <div class="col-xxl-6">
                <div class="mb-3">
                    <label for="pxp-company-job-title" class="form-label">Position title</label>
                    <input type="text" id="pxp-company-job-title" class="form-control" name="title" placeholder="Add title">
                </div>

            </div>
            <div class="col-md-6 col-xxl-3">
                <label for="pxp-company-job-location" class="form-label">Location</label>
                <input type="text" id="pxp-company-job-location" class="form-control" name="location" placeholder="E.g. San Francisco, CA">
            </div>
        </div>

        <div class="mb-3">
            <label for="pxp-company-job-description" class="form-label">Look description</label>
            <textarea class="form-control" id="pxp-company-job-description" name="description" placeholder="Type the description here..."></textarea>
        </div>

        <div class="row">

            <div class="col-md-6 col-xxl-4">
                <div class="mb-3">
                    <label for="pxp-company-job-length" class="form-label">Length</label>
                     <input type="text" class="form-control" id="pxp-company-job-description" name="length" placeholder="2020-2024"></input>
                </div>
            </div>

    </form>



</div>

{% endblock %}