{% extends 'dashboard/indv-dashboard_base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="pxp-dashboard-content-details">

       <h1>Dashboard</h1>
<p class="pxp-text-light">Welcome {{ user }}!</p>
<div class="row mt-4 mt-lg-5 align-items-center">
    <!-- Edit Profile Section -->
    <div class="col-sm-6 col-xxl-3">
        <div class="pxp-dashboard-stats-card bg-success bg-opacity-10 mb-3 mb-xxl-0">
            <div class="pxp-dashboard-stats-card-icon text-success">
                <a href="{% url 'update_profile' %}" class="text-primary">
                    <span class="fa fa-user-circle-o"></span>
                </a>
            </div>
            <div class="pxp-dashboard-stats-card-info">
                <div class="pxp-dashboard-stats-card-info-number">Edit Profile</div>
                <div class="pxp-dashboard-stats-card-info-text pxp-text-light"></div>
            </div>
        </div>
    </div>
    <!-- Inbox Section -->
    <div class="col-sm-6 col-xxl-3">
        <div class="pxp-dashboard-stats-card bg-primary bg-opacity-10 mb-3 mb-xxl-0">
            <div class="pxp-dashboard-stats-card-icon text-primary">
                <a href="{% url 'inbox' %}" class="text-primary">
                    <span class="fa fa-envelope-o"></span>
                </a>
            </div>
            <div class="pxp-dashboard-stats-card-info">
                <div class="pxp-dashboard-stats-card-info-number">Inbox</div>
                <div class="pxp-dashboard-stats-card-info-text pxp-text-light"></div>
            </div>
        </div>
    </div>
</div>

    <!--

            <div class="col-sm-6 col-xxl-3">
                <div class="pxp-dashboard-stats-card bg-warning bg-opacity-10 mb-3 mb-xxl-0">
                    <div class="pxp-dashboard-stats-card-icon text-warning">
                        <span class="fa fa-envelope-o"></span>
                    </div>
                    <div class="pxp-dashboard-stats-card-info">
                        <div class="pxp-dashboard-stats-card-info-number">14</div>
                        <div class="pxp-dashboard-stats-card-info-text pxp-text-light">Application Viewed</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xxl-3">
                <div class="pxp-dashboard-stats-card bg-danger bg-opacity-10 mb-3 mb-xxl-0">
                    <div class="pxp-dashboard-stats-card-icon text-danger">
                        <span class="fa fa-bell-o"></span>
                    </div>
                    <div class="pxp-dashboard-stats-card-info">
                        <div class="pxp-dashboard-stats-card-info-number">5</div>
                        <div class="pxp-dashboard-stats-card-info-text pxp-text-light">Profile Viewed</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4 mt-lg-5">
            <div class="col-xl-6">
                <h2>Profile Visits</h2>
                <div class="mt-3 mt-lg-4 pxp-dashboard-chart-container">
                    <div class="row justify-content-between align-content-center mb-4">
                        <div class="col-auto">
                            <span class="pxp-dashboard-chart-value">154</span><span class="pxp-dashboard-chart-percent text-success"><span class="fa fa-long-arrow-up"></span> 34%</span><span class="pxp-dashboard-chart-vs">vs last 7 days</span>
                        </div>
                        <div class="col-auto">
                            <select class="form-select">
                                <option value="-7 days">Last 7 days</option>
                                <option value="-30 days">Last 30 days</option>
                                <option value="-60 days">Last 60 days</option>
                                <option value="-90 days">Last 90 days</option>
                                <option value="-12 months">Last 12 months</option>
                            </select>
                        </div>
                    </div>
                    <canvas id="pxp-candidate-dashboard-visits-chart"></canvas>
                </div>
            </div>
            <div class="col-xl-6">
                <h2 class="mt-4 mt-lg-5 mt-xl-0">Applications</h2>
                <div class="mt-3 mt-lg-4 pxp-dashboard-chart-container">
                    <div class="row justify-content-between align-content-center mb-4">
                        <div class="col-auto">
                            <span class="pxp-dashboard-chart-value">280</span><span class="pxp-dashboard-chart-percent text-success"><span class="fa fa-long-arrow-up"></span> 56%</span><span class="pxp-dashboard-chart-vs">vs last 7 days</span>
                        </div>
                        <div class="col-auto">
                            <select class="form-select">
                                <option value="-7 days">Last 7 days</option>
                                <option value="-30 days">Last 30 days</option>
                                <option value="-60 days">Last 60 days</option>
                                <option value="-90 days">Last 90 days</option>
                                <option value="-12 months">Last 12 months</option>
                            </select>
                        </div>
                    </div>
                    <canvas id="pxp-candidate-dashboard-app-chart"></canvas>
                </div>

            </div>
        </div>

    </div>
-->
{% endblock content %}