
<!doctype html>
<html lang="en" class="pxp-root">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% load static %}
        <link rel="shortcut icon" href="/static/images/favicon.png" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap" rel="stylesheet">
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>
        <link rel="stylesheet" href="/static/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
        <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
        <link rel="stylesheet" href="/static/css/animate.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/tagsinput.css" />
        <script src="https://unpkg.com/htmx.org@1.9.12"></script>
       

        
        <title>{% block title %} {% endblock %}</title>
    </head>
    <body>
        <div class="pxp-preloader"><span>Loading...</span></div>

        <header class="pxp-header fixed-top pxp-no-bg">
            <div class="pxp-container">
                <div class="pxp-header-container">
                    <div class="pxp-logo">
                        <a href="{% url "users-home" %}" class="pxp-animate"><span style="color: var(--pxpMainColor)">L</span>ookify</a>
                    </div>

                    <div class="pxp-header-right">

                    <nav class="pxp-nav dropdown-hover-all d-none d-xl-block">
                        <ul>
                            <li class="dropdown">
                                <a href="{% url 'opportunity-home' %}" class="dropdown-toggle" >Find Opportunities</a>

                                <a href="{% url 'org-home' %}" class="dropdown-toggle" >Find Organizations</a>


                        <ul>
                    </nav>
                    
                        <nav class="pxp-user-nav pxp-on-light  d-sm-flex">

                            {% if user.is_authenticated %}
                            <a href= "{% url 'create-opp'%}" class="btn rounded-pill pxp-nav-btn">Post Look</a>
                            <div class="dropdown pxp-user-nav-dropdown pxp-user-notifications">
                                <a role="button" class="dropdown-toggle" data-bs-toggle="dropdown">
                                    <span class="fa fa-bell-o"></span>
                                    <div class="pxp-user-notifications-counter">{{notifs_count}}</div>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end pxp-user-notifications">
                                    {% for notif in notifs %}
                                    <li class="notification {% if not notif.is_read %} unread{% endif %}" data-id="{{ notif.id }}">
                                        {% if notif.type_of_notification == 'dm' %}
                                            <a class="dropdown-item" href="{% url 'inbox' %}">
                                                <strong>{{ notif.user_sender }}</strong> 
                                                    wants to get in touch with you
                                                <span class="pxp-is-time">{{ notif.created_at|timesince }}</span>
                                            </a>
                                        {% elif notif.type_of_notification == "application" %}
                                            <a class="dropdown-item" href="{% url 'opportunity-manager' %}">
                                                <strong>{{ notif.user_sender }}</strong> 
                                                    applied to one of your looks
                                                <span class="pxp-is-time">{{ notif.created_at|timesince }}</span>
                                            </a>
                                        {% elif notif.type_of_notification == "result" %}
                                            <a class="dropdown-item" href="{% url 'application-manager' %}">
                                                <strong>{{ notif.user_sender }}</strong> 
                                                    gave you a response to your application
                                                <span class="pxp-is-time">{{ notif.created_at|timesince }}</span>
                                            </a>
                                        {% endif %}
                                        
                                    </li>
                                    {% endfor %}
                                    
                                </ul>
                                
                            </div>
                            <div class="dropdown pxp-user-nav-dropdown">
                                <a href="index.html" class="dropdown-toggle" data-bs-toggle="dropdown">
                                    {% if user.user_type == 'individual' %}
                                    <div class="pxp-user-nav-avatar pxp-cover" style="background-image: url({{ user.profile.avatar.url }})"></div>
                                    {% else %}
                                    <div class="pxp-user-nav-avatar pxp-cover" style="background-image: url({{ user.organizationprofile.avatar.url }})"></div>
                                    {% endif %}
                                    <div class="pxp-user-nav-name d-none d-md-block">
                                        {{ user.username }}
                                    </div>
                                </a>
                                
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="{% url 'profile-view' request.user.username %}">See Profile</a></li>
                                    <li><a role = "button" class = "nav-link" href="{% url 'user-dash'%}" >Dashboard</a></li>
                                    <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                                </ul>
                            </div>
                            {% else %}
                            <a href= "{% url 'users-register'%}" class="btn rounded-pill pxp-nav-btn">Register</a>
                            <a class="btn rounded-pill pxp-user-nav-trigger"  href="{% url 'login' %}">Sign in</a>
                            {% endif %}
                        </nav>
                    </div>
                </div>
            </div>

        </header>

        
        {% block content %}
        
        {% endblock %}


        <footer class="pxp-main-footer mt-100">
           
            <div class="pxp-main-footer-bottom" style="background-color: var(--pxpSecondaryColor);">
                <div class="pxp-container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-lg-auto">
                            <div class="pxp-footer-copyright pxp-text-light">© 2024 Lookify. All Right Reserved.</div>
                        </div>
                        <div class="col-lg-auto">
                            <div class="pxp-footer-social mt-3 mt-lg-0">
                                <ul class="list-unstyled">
                                    <!--<li><a href="#"><span class="fa fa-facebook"></span></a></li>-->
                                    <!--<li><a href="#"><span class="fa fa-twitter"></span></a></li>-->
                                    <li><a target="_blank" href="https://www.instagram.com/lookify_official/"><span class="fa fa-instagram"></span></a></li>
                                    <!--<li><a href="#"><span class="fa fa-linkedin"></span></a></li>-->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        
    
       
        <script src="/static/js/jquery-3.4.1.min.js"></script>
        <script src="/static/js/bootstrap.bundle.min.js"></script>
        <script src="/static/js/owl.carousel.min.js"></script>
        <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
        <script src="/static/js/nav.js"></script>
        <script src="/static/js/main.js"></script>
        <script>
            $(document).ready(function() {
                function markAsRead(notificationIds) {
                    $.ajax({
                        url: "{% url 'mark_as_read' %}",
                        type: "POST",
                        data: {
                            notification_ids: notificationIds,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        success: function(response) {
                            if (response.status === 'success') {
                                $('.pxp-user-notifications-counter').text('0');
                                notificationIds.forEach(function(id) {
                                    $('li[data-id="' + id + '"]').removeClass('unread');
                                });
                            } else {
                                console.error('Failed to mark notifications as read');
                            }
                        },
                        error: function(xhr, status, error) {
                            console.error('AJAX Error:', status, error);
                        }
                    });
                }
            
                // Mark all notifications as read when the dropdown is opened
                $('.pxp-user-notifications .dropdown-toggle').on('click', function() {
                    var unreadNotificationIds = [];
                    $('.notification.unread').each(function() {
                        unreadNotificationIds.push($(this).data('id'));
                    });
                   
                    if (unreadNotificationIds.length > 0) {
                        markAsRead(unreadNotificationIds);
                    }
                });
            });
            </script>
            
            
        
            <script>

            {% for message in messages %}
                alertify.set('notifier', 'position','top-center');
                {% if message.tags == 'success' %}
                alertify.success('{{ message }}');
                {% elif message.tags == 'error' %}
                    alertify.error('{{ message }}');
                {% endif %}
            {% endfor %}

        </script>
        
        <script src="/static/js/tagsinput.js"></script>
        {% block js %} {% endblock js%}

    </body>
</html>