/* Custom styles for the Django Select2 widget */
.select2-container--default .select2-selection--single {
    border: none;
    border-radius: 0;
    box-shadow: none;
    height: 38px; /* Match the height of your other input fields */
    padding: 6px 12px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 25px; /* Adjust based on your design */
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 38px; /* Match the height of your other input fields */
}

.select2-container .select2-selection--single .select2-selection__rendered {
    color: #495057; /* Adjust text color */
    font-size: 14px; /* Adjust font size */
}

.select2-container .select2-selection--single {
    background-color: #fff; /* Adjust background color */
}

.select2-dropdown {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.select2-container--default {
    width: 90% !important; /* Change 100px to your desired width */
  }
  